

// BRAND COLORS
// ======

// ## General

$c-active-blue = #3D73FF
$c-active-blue-hover = #1E5DFF
$c-active-blue-active = #0047FF
$c-icon-fill = #686868
$c-subtle-fill = #AAA
$c-backdrop = #F3F3F3
$c-backdrop-lighter = #FAFAFA
$c-text-backdrop = #ECECEC

// ## Text

$tc-active = #3D73FF
$tc-active-hover = $c-active-blue-hover
$tc-error = #EA0000
