
.container, .uplink, .downlink
  display: flex

.container
  flex-direction: column

.uplink
  margin-bottom: $cs.xxs

.uplink, .downlink
  align-items: center
  gap: $cs.xxs

  div
    width: 1.2rem
    height: 1.2rem
    display: flex
    color: white
    border-radius: 100%
    justify-content: center
    align-items: center
    font-size: $fs.s
    font-weight: $fw.bolder

    &:not(.active)
      border-normal()
      box-sizing: border-box
      color: $tc-subtle-gray

    &.active
      background-color: $c-success

.icon
  color: $tc-subtle-gray
