
.container
  display: flex
  flex-direction: row

.uplink, .downlink
  & > h4
    text-margin-bottom($cs.l)
    margin-top: 0

.uplink
  margin-right: $ls.m

.policy
  text-margin-bottom($cs.l)
  display: block

.icon
  margin-right: $cs.xxs
