

.icon
  material-icon()

  &.small
    font-size: 1rem

  &.large
    font-size: 2rem

  &.nudgeUp
    position: relative
    top: -1px

  &.nudgeDown
    position: relative
    top: 1px

.text-padded
  &-right
    margin-right: $cs.xxs
  
  &-left
    margin-left: $cs.xxs
