

.wrapper
  span:first-child
      margin-right: .6rem

  div
    border-dark()
    margin-bottom: 1rem

  .block
    display: inline-block

  .flex
    display: inline-flex
    span
      display: flex
