

.description-list
  font-family: $font-family-mono
  font-size: $fs.s
  margin: 0

.container
  display: inline-flex
  align-items: center

  &:not(:last-child)
    margin-right: $cs.s

  .term
    color: $tc-subtle-gray

    &:after
      content: ':'

  dt
    margin-right: $cs.xs

  dd
    margin-left: 0

.value
  & > div:not(:last-child)
    margin-right: $cs.s

.empty-byte
  color: $tc-subtle-gray
  font-style: italic

  &:before
    content: '<'
  &:after
    content: '>'

.highlight
  line-height: 1.9rem;
  border: 1px solid $c-divider-dark;
  font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  display: inline
  background-color: white
  height: 100%
  padding: 0 $cs.xs
  border-radius: $br.s
