

.wrapper-header
  display: flex
  justify-content: space-between
  align-items: flex-end
  border-bottom: 1px solid $c-divider-dark

  .search
    flex-basis: 50%
    align-self: center
    display: flex
    justify-content: flex-end
    align-items: center

    &-button
      margin-left: $cs.s

  .tabs
    margin: 0
