

.profile-picture-info
  display: flex
  align-items: center

.profile-picture-notification
  margin-bottom: 0
  margin-left: $cs.l

.profile-picture
  flex-shrink: 0

.upload-image-preview
  border-radius: 100%
