

.container
  display: flex
  border: 1px solid $c-divider-dark

  +media-query-min($bp.xs)
    flex-direction: row
    max-width: 52.4rem
    padding: $cs.m $cs.l $cs.m $cs.m

  +media-query($bp.xs)
    flex-direction: column
    text-align: center
    padding: $cs.m

.name
  margin: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.image
  object-fit: contain
  align-self: center

  +media-query-min($bp.xs)
    padding-right: $cs.m
    width: 10rem
    max-height: 8.5rem

  +media-query($bp.xs)
    padding-right: 0
    margin: 0 auto
    width: auto
    margin-bottom: $cs.m
    max-height: 10rem

.info
  display: flex
  flex-direction: column
  justify-content: flex-start

  &-item:not(:last-child)
    padding-right: $cs.xxs

    &:after
      content: ','

    &:last-child
      padding: 0

      &:after
        display: none

.description
  text-margin-top($cs.l)

.links
  margin-top: $cs.m
