

.list
  list-style-type: none
  padding: 0
  margin: 0
  overflow: hidden

  & > li:not(:last-child)
    margin-bottom: 0

  // We need to rely on the child list items for the reveal animation, the
  // height of the list is variable, making proper slide up transitions
  // impossible.
  & > li
    transition: height $ad.m ease-in-out

  &-nested > li
    height: 0
    transition: visibility $ad.m, height $ad.m ease-in-out

  &-nested:not(.list-expanded) > li
    visibility: hidden

  &-expanded > li
    height: 3.1rem

  &-expanded, &-nested
    & li a
      padding-left: $cs.l + $cs.l

.icon
  margin-right: $cs.xs
