

.overlay
  visibility: hidden
  opacity: 0
  position: absolute
  min-width: 100%
  min-height: 100%
  height: 100%
  top: 0
  left: 0
  background: white
  transition: opacity $ad.m ease-in-out, visibility $ad.m ease-in-out

  &-visible
    visibility: visible
    opacity: .85
    z-index: $zi.overlay

  &-wrapper
    position: relative

  &-spinner
    z-index: $zi.overlay + 1
