

.container
  flex-direction: column

.entries-row
  display: flex
  margin-bottom: $cs.s
  justify-content: flex-start

.input
  margin-right: $cs.s
  flex-grow: 1

  &-index-as-key
    flex-grow: 0.25
