

.select-all
  margin-bottom: $cs.s

.group
  border-normal('left')
  padding-left: $ls.xxs

.right-label
  span::first-letter
    text-transform: uppercase
  flex-wrap: wrap

.grant-type
  margin-bottom: $cs.s

.description
  color: $tc-subtle-gray
  width: 100%
