

.group
  display: flex
  flex-direction: column
  flex-wrap: wrap
  margin-top: $cs.xxs

  &:not(.horizontal)
    .group-radio:not(:last-child)
      margin-bottom: $cs.xs

  &.horizontal
    flex-direction: row
    align-items: center

    .group-radio:not(:last-child)
      margin-right: $cs.m
