

.container
  display: flex
  flex-wrap: nowrap
  margin-right: $cs.l
  align-items: center

  .message-count:last-child
    margin-left: $cs.m

.message-count
  display: inline-flex
  align-items: center
  flex-wrap: nowrap

  .icon
    nudge('up')
    color: $c-active-blue

.messages
  margin-right: $cs.l
  display: flex
  align-items: center

  +media-query($bp.xs)
    flex-basis: 100%

.status
  white-space: nowrap

  .date-time
    margin-left: $cs.xxs
