

.breadcrumbs
  color: $tc-subtle-gray
  height: $breadcrumbs-bar-height
  display: flex
  align-items: center
  overflow: hidden

  +media-query($bp.s)
    overflow: auto
    margin-right: $ls.xxs * -1
    scrollbar-width: none

    &::-webkit-scrollbar
      display: none

  &-container
    border-normal('bottom')
    box-sizing: border-box
    height: $breadcrumbs-bar-height
