

.container
  horizontalize()
  align-items: center
  height: $default-input-height

.checkbox-container
  display: flex
  align-items: baseline
  margin-right: $cs.s

.checkbox
  horizontalize()

.input
  flex-grow: 1
