
.h-rule
  margin: 0

.info-section
  margin: $cs.s 0

  .icon
    margin-right: $cs.xs

  .message,
  .icon
    color: $c-subtle-fill

  &-error
    .icon,
    .message
      color: $c-error

  &-warning
    .icon,
    .message
      color: $tc-warning

  &-valid
    .icon,
    .message
      color: $c-success

.submit-button
  flex-shrink: 0

.top-row
  align-items: end

  .payload
    flex-grow: 1 !important
