

.collaborator-select
  :global(.select__indicator-separator)
    display: none
  :global(.select__dropdown-indicator)
    display: none
  :global(.select__control)
    height: 2.3rem
  :global(.select__clear-indicator)
    padding: 4px