

.button
  reset-button()
  padding: $cs.s
  margin-left: -($cs.s)

.title
  margin: 0
  display: inline-block
  user-select: auto
  text-decoration: underline

.icon
  color: $c-icon-fill
  user-select: none

.content
  margin-top: $ls.xxs
  display: none
  overflow: hidden

  &.expanded
    display: block
    overflow: initial
