

.bar
  border-dark('top')
  display: flex
  align-items: center
  background-color: $c-divider-subtle
  padding: $cs.m
  margin-top: $ls.xs

  &-start
    justify-content: flex-start

  &-end
    justify-content: flex-end

  &-between
    justify-content: space-between

  &-around
    justify-content: space-around

  &-message
    color: $tc-subtle-gray
