

.tabs
  margin-top: 0
  margin-bottom: $ls.s

  +media-query($bp.s)
    background: none
    margin-right: 0

.full-width
  width: 100%
  max-width: $bp.xl
  padding: 0 $ls.xs
  margin: auto
  box-sizing: border-box
