

.details
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: flex-end
  margin-top: -2rem

  &-code
    width: 100%
    background-color: $c-backdrop
    color: $tc-black
    font-size: $fs.s
    y-overflow: auto
    padding: $cs.s
    color: $tc-deep-gray
    margin: (-1 * $ls.m) 0 0 0
    box-sizing: border-box

  &-button
    margin-right: 0 !important
