

.registry-totals-container
  display: flex
  gap: $cs.m

  .registry-total-box
    background-color: $c-divider-subtle
    border-input()
    display: flex
    flex-direction: column
    padding: $cs.l
    margin-bottom: $cs.s
    width: 12rem
