
// The Authorize story has a more sophisticated styling which is outsourced
// to this stylus file.

.left
  flex-basis: 65%
  padding-right: $cs.m
  +media-query($bp.s)
    flex-basis: 100%
    flex-grow: 0
    margin-bottom: $ls.m

  ul
    text-margin-top()
    padding-left: 0

  li
    display: flex
    align-items: flex-start

  li > span
    nudge('down', 3px)
    color: $c-info
    margin-right: $cs.xxs

.right
  +media-query($bp.s)
    flex-grow: 0
    padding-top: 3rem
    background: url('../../assets/misc/oauth-arrow-hor.svg') no-repeat
  +media-query-min($bp.s)
    flex-basis: 35%
    padding-left: 3rem
    background: url('../../assets/misc/oauth-arrow.svg') no-repeat

  h3
    one-liner()
    margin-bottom: $cs.m

    span
      one-liner()
      nudge('up', 2px)
      font-size: $fs.s
      font-weight: $fw.bold
      text-transform: uppercase
      color: $c-active-blue
      border: 1px solid $c-active-blue
      border-radius: $br.s
      padding: $cs.xxs
      margin-left: $cs.xxs

.login-info
  color: $tc-deep-gray

.redirect-info
  span
    color: $c-active-blue
