

.component-cards
  display: flex
  flex-wrap: wrap
  margin-top: $cs.m

.component-section
  margin-top: $ls.l
  margin-bottom: $ls.l

  +media-query($bp.m)
    margin-bottom: $ls.xxs

  hr
    width: 100%

.component-card
  display: inline-flex
  margin: 0 $cs.xl $cs.xl 0
  flex-shrink: 0

  &-icon
    nudge('down')

  &-desc
    one-liner()
    margin-left: $cs.m
    display: flex
    flex-direction: column

    & > span
      display: block

  &-name
    display: flex
    font-weight: 600
    margin-bottom: $cs.xs

    & > span:first-child
      margin-right: $cs.xs

  &-host
    font-family: $font-family-mono
    font-size: $fs.s

.component-info-section
  display: flex
  flex-direction: column

.version-info-section
  display: flex
  flex-direction: column

.version-value
  font-size: $fs.xl3
  font-weight: $fwh.bolder

.version-revision
  margin-top: 0
  font-size: $fs.s
  margin-bottom: $cs.s
