

.container
  margin-top: $ls.s

.icon
  height: 4rem
  width: 3.5rem

.title-section-container
  display: flex
  flex-wrap: nowrap

.title-section
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-left: $cs.m

.title
  text-margin-top($ls.m)
  text-margin-bottom($cs.m)
  color: $tc-black
  font-weight: $fw.bolder
  font-size: $fs.xl
  margin: 0

.id
  color: $c-icon-fill

  &-prefix
    font-weight: $fw.bold

    &:after
      content: ':'
      padding-right: $cs.xxs
