

.overview-info
  &-general
    border-normal('bottom')
    box-sizing: border-box
    padding-bottom: 2.55rem

.table
  margin-top: $ls.xl

.attributes
  list-style: none
  padding: 0

  &-entry
    display: flex
    align-content: center
    &:not(.last-child)
      text-margin-bottom($cs.s)

  .key
    flex-basis: 50%
    font-weight: $fw.bold

  .value
    flex-basis:50%

.tabs
  border-normal('bottom')
  margin-top: $ls.xs

  &-general
    border-normal('bottom')
    box-sizing: border-box
    padding-bottom: 2.55rem
