

.table
  width: 100%
  table-layout: fixed

  tr
    height: 3rem

  th
    text-align: left
    font-weight: $fw.normal
    color: $tc-subtle-gray
    min-width: 6rem
    padding-right: $cs.xs

  +media-query($bp.m)
    margin-bottom: $ls.xs

tr.group-heading
  height: auto
  vertical-align: bottom

  &:not(:first-child)
    height: 3.5rem
  th
    color: $tc-deep-gray
    font-weight: $fw.bold
    width: 33%
    white-space: nowrap
    +media-query($bp.s)
      width: 50%

.sub th
  padding-left: $cs.l

.not-available
  color: $tc-subtle-gray
