

.section:not(:last-child)
  border-normal('bottom')

.header
  horizontalize()
  align-items: center
  position: relative
  padding: $ls.s 0

  &-content
    padding-right: $cs.s

  .title
    margin-top:0

  .description
    text-margin-top()
    text-margin-bottom($cs.s)

  .expand-button
    min-width: 5.5rem

.content
  display: block
  padding-bottom: $ls.s
