

.title-section
  border-normal('bottom')
  margin-bottom: $ls.s

  +media-query($bp.s)
    margin-bottom: $ls.xs

.tabs
  +media-query(550px)
    margin-right: $ls.xxs * -1
    overflow: auto
    background: linear-gradient(right, rgba(0,0,0,.1), white 5rem)
