

.first-to-lower
  display: inline-block
  &::first-letter
    text-transform: lowercase

.first-to-upper
  display: inline-block
  &::first-letter
    text-transform: uppercase

.uppercase
  text-transform: uppercase

.lowercase
  text-transform: lowercase

.capitalize
  text-transform: capitalize
