

.wrapper
  border-input()
  border-radius: $br.s
  transition: border-color .2s
  position: relative
  overflow: hidden
  z-index: 0
  box-sizing: border-box

  &.focus
    :global .ace-ttn
      .ace_marker-layer .ace_active-line
        background-color: lighter($c-active-blue, 9)

      .ace_gutter-active-line
        background-color: darker($c-backdrop, 3)

  &.read-only
    :global .ace-ttn
      .ace_marker-layer .ace_active-line,
      .ace_gutter-active-line,
      .ace_cursor
        display: none

      .ace_bracket
        border: 0
