

.button
  reset-button()
  one-liner()
  width: 100%
  padding: 1px
  text-align: inherit
  transition: color $ad.s ease-in

  &:active,
  &-active
    color: $tc-deep-gray

.icon
  transition: transform $ad.m ease-in-out
  padding-left: $cs.xxs
